body {
    background-color:black
}

dog {
    color: limegreen;
    font-size: 25px
}

p {
    color:greenyellow
}

li {
    color:greenyellow
}
red{
    color:crimson
}
h1{ font-family: "Trattatello"
    
}